@model IEnumerable<ProjetoWeb_SistemaDeVendas.Models.SalesRecord>

@{
    ViewData["Title"] = "SALES RECORDS";
}

<p> <h1> @ViewData["Title"] </h1> </p>

<p> <a asp-action="Create" class="btn-link text-success">Create New</a> </p>

<form asp-action="Index" class="form">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    <label for="minDate">Min Date</label>
                    <input type="date" class="form-control" name="minDate" value=@ViewData["minDate"] />
                </th>
                <th>
                    <label for="maxDate">Max Date</label>
                    <input type="date" class="form-control" name="maxDate" value=@ViewData["maxDate"] />
                </th>
                <th>
                    <button type="submit" class="btn btn-info btn-lg">Filter</button>
                </th>
            </tr>
        </thead>
    </table>
</form>    
<table class="table table-hover">
    <thead class="table-active">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seller)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Seller.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="badge badge-pill badge-light">Edit</a> /
                    <a asp-action="Details" asp-route-id="@item.Id" class="badge badge-pill badge-light">Details</a> /
                    <a asp-action="Delete" asp-route-id="@item.Id" class="badge badge-pill badge-light">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>